$grey: rgba(200, 200, 200, 1);
$grey-light: rgba(240, 240, 240, 1);
$primary: rgba(0, 48, 73, 1);
$info: rgba(252, 191, 73, 1);
$warning: rgba(247, 127, 0, 1);
$danger: rgba(214, 40, 40, 1);
$weight-bold: 700;
$size-1: 5rem;
$gap: 64px;

$very-low: rgba(67,170,139,1);//#43aa8b;
$low: #90be6d;
$moderate: #f9c74f;
$high: #f8961e;
$very-high: #f3722c;
$extreme: #f94144;
$custom-colors: ("very-low": $very-low, "low": $low, "moderate": $moderate, "high": $high, "very-high": $very-high, "extreme": $extreme);
/* CSV */
// f94144,f3722c,f8961e,f9c74f,90be6d,43aa8b,577590

/* Array */
// ["f94144","f3722c","f8961e","f9c74f","90be6d","43aa8b","577590"]

/* Object */
//{"Red Salsa":"f94144","Orange Red":"f3722c","Yellow Orange Color Wheel":"f8961e","// Maize Crayola":"f9c74f","Pistachio":"90be6d","Zomp":"43aa8b","Queen Blue":"577590"}

/* Extended Array */
//  [{"name":"Red Salsa","hex":"f94144","rgb":[249,65,68],"cmyk":[0,74,73,2],"hsb":[359,74,98],"hsl":[359,94,62],"lab":[56,69,41]},{"name":"Orange Red","hex":"f3722c","rgb":[243,114,44],"cmyk":[0,53,82,5],"hsb":[21,82,95],"hsl":[21,89,56],"lab":[63,46,59]},{"name":"Yellow Orange Color Wheel","hex":"f8961e","rgb":[248,150,30],"cmyk":[0,40,88,3],"hsb":[33,88,97],"hsl":[33,94,55],"lab":[71,29,71]},{"name":"Maize Crayola","hex":"f9c74f","rgb":[249,199,79],"cmyk":[0,20,68,2],"hsb":[42,68,98],"hsl":[42,93,64],"lab":[83,6,64]},{"name":"Pistachio","hex":"90be6d","rgb":[144,190,109],"cmyk":[24,0,43,25],"hsb":[94,43,75],"hsl":[94,38,59],"lab":[72,-30,36]},{"name":"Zomp","hex":"43aa8b","rgb":[67,170,139],"cmyk":[61,0,18,33],"hsb":[162,61,67],"hsl":[162,43,46],"lab":[63,-37,7]},{"name":"Queen Blue","hex":"577590","rgb":[87,117,144],"cmyk":[40,19,0,44],"hsb":[208,40,56],"hsl":[208,25,45],"lab":[48,-4,-18]}]
