$grey: rgba(200, 200, 200, 1);
$grey-light: rgba(240, 240, 240, 1);
$primary: rgba(242, 95, 92, 1);
$warning: rgba(255, 224, 102, 1);
$info: rgba(36, 123, 160, 1);
$danger: rgba(112, 193, 179, 1);
$weight-bold: 700;
$size-1: 5rem;
$gap: 64px;
